html * {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

a {
 text-decoration: none;
 color: #000;
}

header {
  margin: 20px;
}

nav {
  border: 1px solid #000;
}

nav,
#menu-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-icons {
  list-style: none;
}

#logo {
  font-size: 24px;
  margin-left: 20px;
}

#menu-icons li {
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px 0;
  border-left: 1px solid #000;
}

#date {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

main,
#all-books,
#book-list {
  display: flex;
  flex-direction: column;
}

main,
#all-books {
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 28px;
  text-align: center;
}

#list-link {
  color: blue;
}

#all-books,
form,
#contact-section {
  margin-top: 50px;
}

#book-list {
  margin: 20px auto;
  width: 600px;
  min-height: 30px;
  max-height: 350px;
  border: 2px solid #000;
  overflow-y: auto;
  padding: 3px 0;
}

#book-list div {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  font-size: 18px;
}

#book-list div:nth-child(even) {
  background-color: #f2f2f2;
}

.remove-btn {
  margin-right: 5px;
  background-color: crimson;
  color: #fff;
}

form {
  display: none;
  flex-direction: column;
  gap: 10px;
}

form input {
  height: 30px;
  width: 500px;
  font-size: 20px;
}

#add-btn {
  font-size: 16px;
}

button {
  padding: 1px 6px;
  box-shadow: 2px 2px 2px #000;
}

form button {
  width: min-content;
  align-self: flex-end;
  background-color: lime;
}

input {
  text-indent: 2px;
}

#contact-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-section h1 {
  margin-bottom: 20px;
}

#contact-section p {
  font-size: 18px;
  margin: 10px 0;
}

footer {
  border: 1px solid #000;
  margin: 5px;
  padding: 10px;
  width: calc(100vw - 30px);
  position: fixed;
  bottom: 0;
}
